{% extends "admin/base_site.html" %}
{% load static log %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" href="{% static 'admin/css/dashboard.css' %}">{% endblock %}
{% block coltype %}colMS{% endblock %}
{% block bodyclass %}{{ block.super }} dashboard{% endblock %}
{% block nav-breadcrumbs %}{% endblock %}
{% block nav-sidebar %}{% endblock %}

{% block content %}
<div id="content-main">
  {% include "admin/app_list.html" with app_list=app_list show_changelinks=True %}
</div>
{% endblock %}

{% block sidebar %}
<div id="content-related">
  <div class="module" id="recent-actions-module">
    <h2>So‘nggi harakatlar</h2>
    <h3>Mening harakatlarim</h3>
    {% get_admin_log 10 as admin_log for_user user %}
    {% if not admin_log %}
      <p>Hozircha harakatlar yo‘q.</p>
    {% else %}
      <ul class="actionlist">
      {% for entry in admin_log %}
        <li class="{% if entry.is_addition %}addlink{% endif %}{% if entry.is_change %}changelink{% endif %}{% if entry.is_deletion %}deletelink{% endif %}">
          <span class="visually-hidden">{% if entry.is_addition %}Qo‘shildi:{% elif entry.is_change %}O‘zgartirildi:{% elif entry.is_deletion %}O‘chirildi:{% endif %}</span>
          {% if entry.is_deletion or not entry.get_admin_url %}{{ entry.object_repr }}{% else %}<a href="{{ entry.get_admin_url }}">{{ entry.object_repr }}</a>{% endif %}
          {% if entry.content_type %}<br><span class="mini quiet">{{ entry.content_type.name|capfirst }}</span>{% endif %}
        </li>
      {% endfor %}
      </ul>
    {% endif %}
  </div>
</div>
{% endblock %}
